*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store

*.VC.db
*.log
*.opensdf
*.sdf

build-*/*/Debug
build-*/*/Release
build-*/*/x64/Debug
build-*/*/x64/Release
build-*/Debug
build-*/Release
build-*/tests/*/Debug
build-*/tests/*/Release
build-*/tests/*/x64/Debug
build-*/tests/*/x64/Release
build-*/x64/Debug
build-*/x64/Release
